body {
    background-color: bisque;
}

.logo {
    float: left;
    padding: 10px;
}

.headertext {
    padding-top: 13px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightskyblue;
}

.bodytext {
    padding: 10px;
}